.arrowHelp {
  width: 50px;
  z-index: 999;
}

.subHeadlineHelp {
  font-size: 18px;
  color: rgb(69, 137, 255);
  font-weight: bold;
}

.blueWord {
  color: rgb(69, 137, 255);
}

.howToUseItOneToFive {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.h1Help {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  font-family: Open Sans;
}

.next {
  margin: 0;
}

.buttonSize {
  background-color: #4589ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.help-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4589ff;
  color: white;
  display: none !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.help-button span {
  font-size: 20px;
  line-height: 1;
}

.menu-item {
  cursor: pointer;
  color: #707c92;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.menu-item:hover {
  text-decoration: none;
  color: lightblue;
}

.help-button:hover span {
  transform: scale(1.2);
}

.buttonSize:hover .profile-icon {
  filter: brightness(90%);
}

.tasks {
  width: 912px;
  height: 219px;
  top: 223px;
  gap: 35px;
  display: flex;
}

.summary-container {
  display: flex;
  padding: 120px 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.summary-container h1 {
  font-size: 61px;
  font-weight: 700;
}

.summary-container img {
  width: 37px;
  height: 37px;
}

.headline-box p {
  font-size: 16px;
  font-weight: 400;
}

.dFlexd {
  display: flex;
}

.flex50 {
  display: none !important;
  flex: 0.5;
}

.kanban {
  width: unset !important;
}

.sideBoardOffline {
  width: 186px;
  height: 40px;
  padding: 8px 10px 8px 30px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  color: black;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.sideBoardLogin a {
  display: none !important;
}

.sideBoardChild2 {
  padding-top: 462px !important;
  align-items: center !important;
}

.flex50 {
  display: none !important;
}
