<div class="header">
    <img src="assets/img/Capa 1.png" id="logo">
    <div class="kanban">
        <p class="next">Kanban Project Management Tool</p>
        <a href="../help.html" id="helpLink" class="help-button">
            <img src="assets/img/help.png">
        </a>
        <button id="profile-icon" class="buttonSize" onclick="toggleMenuBar()">
            <nav id="userInitial"></nav>
        </button>
    </div>
    <div class="menu-bar" id="menuBar">
        <a href="../help.html" class="menu-item dNoneMenubar" id="legalLink" onclick="deleteBackgroundColor()">Help</a>
        <a href="../legal.html" class="menu-item" id="legalLink" onclick="changeBackgroundColor(this)">Legal Notice</a>
        <a href="../privacy.html" class="menu-item" id="policyLink" onclick="changeBackgroundColor(this)">Privacy Policy</a>
        <a href="../index.html" class="menu-item" onclick="logOut()">Log Out</a>
    </div>
</div>