<div class="column sideBoard sideAdd">
    <div class="flex50 column">
        <a href="summary.html" class="alignItems sideMenuLink" id="summarySidemenu" onclick="changeBackgroundColor(event, 'summarySidemenu')"><img
                 src="assets/img/Menu Icons.png">Summary</a>
        <a href="add_task.html" class="alignItems sideMenuLink" id="addTaskSidemenu" onclick="changeBackgroundColor(event, 'addTaskSidemenu')"><img
                 src="assets/img/Menu Icons (1).png">Add Task</a>
        <a href="board.html" class="alignItems sideMenuLink" id="boardSidemenu" onclick="changeBackgroundColor(event, 'boardSidemenu')"><img
                 src="assets/img/Menu Icons (2).png">Board</a>
        <a href="contact.html" class="alignItems sideMenuLink" id="contactsSidemenu" onclick="changeBackgroundColor(event, 'contactsSidemenu')"><img
                 src="assets/img/Menu Icons (3).png">Contacts</a>
    </div>


    <div class="sideBoardChild2">
        <a href="../guestPrivacy.html" class="sideMenuLink" id="policyLink" onclick="changeBackgroundColor(event, 'policyLink')">Privacy Policy</a>
        <a href="../guestLegal.html" class="sideMenuLink" id="legalLink" onclick="changeBackgroundColor(event, 'legalLink')">Legal notice</a>
    </div>
    <div class="sideBoardLogin">
        <a href="../privacy.html" class="sideMenuLink" id="policyLink" onclick="changeBackgroundColor(event, 'policyLink')">Privacy Policy</a>
        <a href="../legal.html" class="sideMenuLink" id="legalLink" onclick="changeBackgroundColor(event, 'legalLink')">Legal notice</a>
    </div>
</div>